dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode

# vscode Metals Extension
.metals
.bloop